
:root {
  --main-hue: 202;
  --main-saturation: 80%;


  --background-hue: var(--main-hue);
  --background-saturation: calc(var(--main-saturation) * 0.75);

  --link-hue: var(--main-hue);
  --link-saturation: var(--main-saturation);

  --text-hue: var(--main-hue);
  --text-saturation: calc(var(--main-saturation) * 0.125);


  --background-saturation-low: calc(var(--main-saturation) * 0.25);
}


/* Foreground */
body,
a, a:hover, a:visited {
	color: hsl(var(--text-hue), var(--text-saturation), 85%);
}

article a,
article a:hover,
article a:visited {
	color: hsl(var(--link-hue), var(--link-saturation), 75%);
}


/* Background */
body,
#loading {
	background-color: hsl(var(--background-hue), var(--background-saturation), 4%);
}
header,
#player {
	background-color: hsl(var(--background-hue), var(--background-saturation), 24%);
}

.page > article {
	background-color: hsla(var(--background-hue), var(--background-saturation-low), 6%, .8);
}

.page > article > .wrapper {
	background-color: hsla(var(--background-hue), var(--background-saturation-low), 6%, .6);
}


/* Button background */
.group,
.option > ul > li,
.action {
	background-color: hsl(var(--background-hue), var(--background-saturation-low), 12%);
}

.group.selected,
.option .selected {
	background-color: inherit;
}