:root {

	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 94%);
	--grey: hsl(0, 0%, 63%);
	--blue: hsl(204, 99%, 74%);
	--red: hsl(12, 72%, 47%);

	--saturation_none: 0%;
	--saturation_lower: 30%;
	--saturation_low: 60%;
	--saturation_medium: 70%;
	--saturation_high: 80%;
	--saturation_higher: 90%;
	--saturation_highest: 100%;

	--hue_blue: 193;
	--blue: hsl(193, 88%, 50%);
	--hue_orange: 42;
	--orange: hsl(42, 88%, 50%);
	--hue_red: 0;
	--red: hsl(0, 88%, 50%);

	--hue_primary: var(--hue_blue);
	--hue_secondary: var(--hue_blue);
	--hue_selected: var(--hue_orange);
	
	--opacity_transparent: 0.0;
	--opacity_low: 0.2;
	--opacity_medium: 0.4;
	--opacity_high: 0.8;
	--opacity_higher: 0.99;
	
	--luminosity_black: 0%;
	--luminosity_lower: 6%;
	--luminosity_low: 12%;
	--luminosity_medium: 23%;
	--luminosity_high: 55%;
	--luminosity_higher: 75%;
	--luminosity_white: 100%;

	--primary_background: hsl(var(--hue_primary), var(--saturation_low), var(--luminosity_medium));
	--player_background: hsl(var(--hue_primary), var(--saturation_low), var(--luminosity_medium));
	--selected_background: hsla(0, var(--saturation_none), var(--luminosity_high), var(--opacity_high));
	--secondary_background: rgba(0, 0, 0, var(--opacity_low));
	--expandable_background: hsla(var(--hue_primary), var(--saturation_medium), var(--luminosity_medium), 0.96);
	--expandable_background_overlay: hsla(var(--hue_primary), var(--saturation_low), var(--luminosity_lower), 0.6);
	--background: hsl(var(--hue_primary), var(--saturation_lower), var(--luminosity_low));
	--bg_image: hsl(0, 0%, var(--opacity_high));
	--bg_overlay: hsla(0, 0%, 100%, var(--opacity_low));
	--info_text: hsl(var(--hue_orange), var(--saturation_high), var(--luminosity_high));
	--info_background: hsla(var(--hue_orange), var(--saturation_lower), var(--luminosity_low), var(--opacity_high));
	--progress_bar_back: hsla(0, 0%, var(--luminosity_black), var(--opacity_medium));
	--progress_bar: hsla(var(--hue_red), var(--saturation_high), var(--luminosity_high), var(--opacity_high));
	--button_focus: hsl(var(--hue_primary), var(--saturation_medium), var(--luminosity_high));
	--button_background: hsl(var(--hue_primary), var(--saturation_medium), var(--luminosity_medium));
	--link_background: hsla(var(--hue_primary), var(--saturation_medium), var(--luminosity_medium), var(--opacity_low));
	--button_selected: hsla(0, var(--saturation_none), var(--luminosity_high), var(--opacity_medium));
	--text: var(--white);
	--text_shadow: hsla(0, var(--saturation_none), var(--luminosity_black), var(--opacity_low));
	--border_alpha: hsla(0, var(--saturation_none), var(--luminosity_white), var(--opacity_medium));
	--disabled: hsla(0, var(--saturation_none), var(--luminosity_white), var(--opacity_low));
	--invalid: var(--red);
}


/* Foreground */
body,
a, a:hover, a:visited {
	color: var(--text);
}

article a,
article a:hover,
article a:visited {
	color: var(--text)
}


/* Background */
body,
#loading {
	background-color: var(--background);
}
#player {
	background-color: var(--player_background);
	background: var(--player_background)
}
header {
	background-color: var(--primary_background);
}

.page .listItem.leaf,
.page .icon-list {
	background-color: var(--secondary_background);
}

.page .listItem.leaf.selected {
	background: radial-gradient(circle at top left, var(--selected_background) 0%,  var(--secondary_background) 200%);
}

.page .thumbnails .thumbnailWrapper {
	background-color: var(--black);
}

.page[data-page="Broadcast"] .thumbnailWrapper,
.page[data-page="Channel"] .thumbnailWrapper,
.page[data-page="Channels"] .thumbnail {
	background: radial-gradient(circle at bottom, rgba(200,200,200,0.9) 0%,rgba(128,128,128,0.9) 120%);
}

/* Button background */
.group,
.option > ul > li,
.action {
	background-color: var(--button_background);
}

.link {
	background-color: var(--link_background);
}

.group:hover,
.option > ul > li:hover,
.action:hover {
	background-color: var(--button_focus);
}

.group.selected,
.option .selected {
	background-color: var(--button_selected);
}


/* Player */

#progress .background {
  background-color: var(--grey);
}

/* Progress bar (under list items and thumbnails) */
.progress {
	background-color: var(--progress_bar_back);
}
.progress > .bar {
	background-color: var(--progress_bar);
}

