
.page[data-page="Guide"] > article {
}

.page[data-page="Guide"] > article,
.page[data-page="Guide"] .timeline
{
}
.page[data-page="Guide"] > article {}

.page[data-page="Guide"] > article > .items > .listItem {
	display: block;
	position: relative;
	height: 50px;
	margin-bottom: 2px;
	margin-left: 170px;
}

.page[data-page="Guide"] > article > .items > .listItem > .thumbnail {
	position: absolute;
	top:0;
	left: -170px;
	width: 50px;
	height: 50px;
	will-change: transform;
}

.page[data-page="Guide"] .listItem > .thumbnail > img {
	width: 50px;
	height: 50px;
}

.page[data-page="Guide"] > article > .items > .listItem > .label {margin: auto;margin-left: -120px;width: 110px;overflow: hidden;text-overflow: ellipsis;}
.page[data-page="Guide"] .listItem > ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
}

.page[data-page="Guide"] .listItem .listItem {
	background-color: hsl(203, 24%, 12%);
	position: absolute;
	width: auto;
	margin-left: 2px;
	padding-left: 2px;
	height:50px;
}

.page[data-page="Guide"] .listItem.finished .line1,
.page[data-page="Guide"] .listItem.finished .line2 {
	color: #CCC;
}

.page[data-page="Guide"] .listItem.finished {
	background-color: #222;
}

.page[data-page="Guide"] .listItem span {
	height: 100%;
}


.page[data-page="Guide"] .listItem .listItem .label {
	padding: 2px;
	margin: 0;
}
.page[data-page="Guide"] .listItem.leaf .line1 {
	height: 46px;
	line-height: 16px;
	word-wrap: break-word;
	white-space: normal;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	font-size: 12px;
	font-weight: bold;
}
.page[data-page="Guide"] .listItem.leaf:hover .line1 {
	height: 32px;
}
.page[data-page="Guide"] .listItem.leaf .line2 {
	position: absolute;
	bottom: 0;
	left: 2px;
	right: 2px;
	height: 14px;
	line-height: 14px;
	font-size: 9px;
	display:none;
}
.page[data-page="Guide"] .listItem.leaf:hover .line2 {
	display:block;
}

.page[data-page="Guide"] .listActions {
    position: absolute;
    top: 0;
    left: -170px;
}
.page[data-page="Guide"] .listActions img {
	visibility: hidden;
}
.page[data-page="Guide"] .listActions:hover img {
	visibility: visible;
}


.page[data-page="Guide"] .timeline {
	height: 24px;
	position: relative;
	width: 100%;
	left: 171px;
}

.page[data-page="Guide"] .timeline > span {
	position: absolute;
	width: 0;
	height: 16px;
	line-height: 24px;
	top: 0;
	border-left: 1px solid white;
	padding-left: 2px;
	color: #BBB;
	overflow: visible;
	font-size: 11px;
	white-space: nowrap;
}

.page[data-page="Guide"] .timeline > .minor {
	height: 3px;
}

.page[data-page="Guide"] .timeline > .present {
	position: absolute;
	border-left: 1px solid #F00;
	z-index: 100;
	height: 1e6px;
}


.page[data-page="Guide"] article > .items {
	margin: 0;
	height: 100%;
	min-width: 100%;
}


.page[data-page="Guide"] .groups {
    width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
}


.page[data-page="Guide"] .group {
	margin: 0;
}