.hidden {
	display:none !important;
}
li {
	list-style-type:none;
}
a img,:link img,:visited img {
	border:none
}



/* Initial Loading Screen */

	body > #loading {
		z-index: 1000;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

/* Loading Screen */

	#loading {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: hidden;
		flex-direction: column;
	}
	#loading img {
		flex-grow: 0;
	}



/* Main Screen Layout */

	#main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
	}

	#content {
		flex-grow: 1;
		flex-shrink: 1;
		display: inline-flex;
		overflow: hidden;
	}
	#player {
		flex-grow: 0;
		flex-shrink: 0;
	}

	#content .page {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.page > header {
		flex-grow: 0;
		flex-shrink: 0;
	}

	.page > article {
		overflow: auto;
		flex-grow: 1;
		flex-shrink: 1;
	}

	.page > article,
	.page > article > .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.page > article > *,
	.page > article > .wrapper > * {
		width: 700px;
		max-width: 100%;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.page > article > .wrapper {
		width: 100%;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.page > article > img {
		width: auto;
	}

	.fanart {
	    display: flex;
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: -10;
	    opacity: 0.2;
	    min-width: 100%;
	    max-width: inherit !important;
	    height: 100%;
	}

/* Borders */

	header {
	}
	#player {
	    border-top-width: 1px;
	}