.page[data-page="Directory"][data-media="pictures"] .items {
	flex-direction: row !important;
	flex-wrap: wrap;
	justify-content: stretch;
	align-content: flex-start;
}
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf,
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf > a {
	flex-direction: column;
	flex-wrap: nowrap;
}
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf {
	width: 128px;
	margin: 5px;
	position: relative;
	display: flex;
	height: 148px;
}
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf .thumbnail {
	height: 96px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: initial;
}
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf .thumbnail > img {
	width:auto;
	height:auto;
}
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf > * {
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf .listActions {
    z-index: 10;
    height: 96px;
}
.page[data-page="Directory"][data-media="pictures"] .listActions > * {
	width: 100%;
	height: 100%;
	max-width: initial;
}
.page[data-page="Directory"][data-media="pictures"] .listActions .label {
	display: none;
}
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf .line2 span {
	width:auto;
}
.page[data-page="Directory"][data-media="pictures"] .listItem.leaf .line2 > span:nth-child(1) {
	display:none
}
.page[data-page="Directory"][data-media="pictures"] .listItem .line1 {
	
}
.page[data-page="Directory"][data-media="pictures"] .listItem .line2 {
	height:auto;
	text-align: right;
}