#player {
	position:fixed;
	z-index:1000;
	bottom:0;left:5%;
	width:90%; height:0;
	padding: 0 10px;
	margin: 0 -10px;
	display:block;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	-ms-transition: height 0.2s;
	-o-transition: height 0.2s;
	transition: height 0.2s;
}
#player.visible {
	height:auto;
}
#player > .show {
	background: inherit;
	position: absolute;
	top: -22px;
	height: 22px;
	width: 120px;
	margin-left: -60px;
	left: 50%;
}
#player .PlayPause { background-image:url('../img/Play.png'); }
body[data-status=playing] #player .PlayPause { background-image:url('../img/Pause.png'); }
#player .Stop { background-image:url('../img/Stop.png'); }
#player .GoNext { background-image:url('../img/GoNext.png'); }
#player .GoPrevious { background-image:url('../img/GoPrevious.png'); }
#player .buttons {
	text-align:center;
}
#player .buttons li {
	width:32px;height:32px;
	margin:14px;
	display:inline-block;
	cursor:pointer;
}
#player .buttons a {
	display:block;
	width:100%;height:100%;
}
#player .buttons span {
	display:none;
}
progress {
	border: none;
	width: 100%;
	height: 50px;
	margin-top: 10px;
}
progress,
progress::-webkit-progress-bar {
	background: hsl(0, 0%, 30%);
}
progress::-moz-progress-bar,
progress::-webkit-progress-value {
	background: hsl(195, 64%, 30%);
}
.time {
	float:right;
}
#nowPlaying {
	text-overflow: ellipsis;
	white-space: nowrap;
}