/* layout */
#player {
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	align-items: center;
	align-items: stretch;
}
#player > .player {
	display: flex;
	flex-direction: row;
	flex-shrink: 1;
	flex-grow: 1;
	justify-content: space-between;
	max-width: 100%;
	height: 50px;
}
#player .buttons {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 1;
    max-width: 100%;
}
#player .infoButtons .expandable .buttons > * {
	margin: 1ch;
	justify-self: center;
	width: 32px;
	height: 32px;
}
#player .infoButtons .buttons > *,
#player .infoButtons .buttons .label {
	background-size: 32px 32px;
	background-position: 50% 50%;
	background-repeat:no-repeat;
}
#player .infoButtons .expandable .buttons > * > .label {
	width: 100%;
	height: 100%;
	display: block;
}
#player .infoButtons .expandable .break-after ~ li {
	justify-self: left !important;
	width: 42px;
	height: 42px;
	background-size: 42px 42px;
}
#player .expandable .buttons {
    flex-wrap: wrap;
}
#player .buttons.right {
	flex-direction: row;
	flex-shrink: 0;
	
}

#player .thumbnailWrapper {
	display: block;
	flex-shrink: 2;
}
#player .thumbnail {
	max-width: 100%;
	max-height: 100%;
}
#player .details {
	flex-shrink: 1;
	flex-grow: 1;
}


	/* horizontal */
	#main {
		flex-direction: column;
	}
	#player {
	    flex-direction: row;
	    align-items: stretch;
	    flex-wrap: nowrap;
	    overflow: visible;
	    max-height: 100%;
	    max-width: 100%;
	}
	#player > .thumbnailWrapper > .thumbnail,

#player .buttons .label {
	display:block;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center center;
	flex-shrink: 0;
	width: 50px;
}
#player .buttons img + span {
	display: none;
}
#player .buttons span {
	display:none;
}
#player .buttons > li {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
#player .buttons img { width:60px;height:60px; }
#player .buttons > li:active {
	background-image:url('../img/buttons/active.png');
}
#player .buttons > li:hover {
	background-image:url('../img/buttons/hover.png');
	cursor:pointer;
}
#player .buttons > li.break-after:active,
#player .buttons > li.break-after:hover,
#player .buttons > li.expand:active,
#player .buttons > li.expand:hover {
	background:initial;
}
#player .spacer {
	background: initial !important;
	flex-grow: 10;
	flex-shrink: 1000;
	width: 0 !important;
	flex-basis: 0;
}
#player .buttons .break-after {
	flex-basis: 100%;
	height: 1ch !important;
	overflow: hidden;
	margin: 0 !important;
	width: initial !important;
}
#player .buttons > li.spacer > * {
	display: none;
}
#player .skipprevious > .label { background-image:url('../img/buttons/skipprevious.png'); }
#player .skipnext > .label { background-image:url('../img/buttons/skipnext.png'); }
#player .playpause > .label { background-image:url('../img/buttons/play.png'); }
body[data-status=playing] #player .playpause .label { background-image:url('../img/buttons/pause.png'); }
#player .stop > .label { background-image:url('../img/buttons/stop.png'); }

#player .up > .label { background-image:url('../img/buttons/up.png'); }
#player .down > .label { background-image:url('../img/buttons/down.png'); }
#player .left > .label { background-image:url('../img/buttons/left.png'); }
#player .right > .label { background-image:url('../img/buttons/right.png'); }
#player .enter > .label,
#player .select > .label { background-image:url('../img/buttons/select.png'); }

#player .back > .label { background-image:url('../img/buttons/back.png'); }
#player .info > .label { background-image:url('../img/buttons/info.png'); }
#player .contextmenu > .label { background-image:url('../img/buttons/menu.png'); }
#player .previousmenu > .label { background-image:url('../img/buttons/home.png'); }

#player .mute > .label { background-image:url('../img.estuary/buttons/volume/mute.png'); }
#player .volumedown > .label { background-image:url('../img.estuary/buttons/volume/volume1.png'); }
#player .volumeup > .label { background-image:url('../img.estuary/buttons/volume/volume.png'); }

#player .navigation > .label { background-image:url('../img/buttons/navigation.png'); }
#player .expand[data-expand=expand] > .label { opacity:0.4; }

#player .volume > .label { background-image:url('../img.estuary/buttons/volume/volume2.png'); }
#player .playButtons > .label {background-image: url('../img/icons/remote.png');}
#player .infoButtons > .label { background-image:url('../img/buttons/info.png'); }

#player .togglestereomode > .label { background-image:url('../img.eminence/media/indicator/3D.png'); }
#player .rotate > .label { background-image:url('../img.estuary/icons/submenu/updatelibrary.png'); }
#player .rotateccw > .label { background-image:url('../img.estuary/icons/submenu/updatelibrary.png'); transform:scaleX(-1); }
#player .nextsubtitle > .label { background-image:url('../img.estuary/buttons/fullscreen/settings-subtitle-50px.png'); }
#player .aspectratio > .label { background-image:url('../img.hax/aspect.png'); }



#player .volume > .expandable > .buttons {
	height: 150px;
	width: 100px;
	flex-direction: column;
	align-content: space-between;
}
#player .volume > .expandable > .buttons > .volumeBar {
	height: 150px;
	width: 50px;
	flex-direction: column;
	background: initial;
	padding: 20px 0;
	display: flex;
	margin: -20px 0;
}
#player .volumeBar .bar {
	width: 8px;
	margin:  auto;
}

#player .expand > .expandable > * {
	display: none;
}
#player .expand[data-expand=expand] > .expandable > .close {
	display: block;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	bottom:50px;
	background-color: var(--expandable_background_overlay);
	z-index:-100;
}
#player .expand[data-expand=expand] > .expandable > * {
	display: flex;
}
#player .expand.infoButtons > .infoText {
	display: flex;
}

#player .expand[data-expand=expand] > .expandable {
	background: var(--expandable_background);
	z-index: 10000;
	bottom:50px;
	max-width: initial;
}
#player .expand.infoButtons[data-expand=expand] > .expandable {
	left:0;
	width:100%;
	height: auto;
	position: fixed;
	padding: 2ch 0;
}
#player .expand.infoButtons[data-expand=expand] .buttons {justify-content: left;}
#player .expand.infoButtons[data-expand=expand] > .expandable #info {
	width:auto;
	margin:25px;
	width:100%;
	display: flex;
	justify-content:space-between;
	background:none;
}
#player .expand.infoButtons[data-expand=expand] > .expandable #info > * {
	font-weight:bold;
}
#player .expand.infoButtons[data-expand=expand] > .expandable .infoText {
	margin: 0 0.5ch;
	justify-content: space-evenly;
	display:flex;
	flex-direction:column;
	height:100%;
}
#player .expand.navigation[data-expand=expand] > .expandable {
	right: 200px;
	width: 250px;
	bottom:250px;
}
#player .navigation[data-expand=expand] > .expandable > .buttons {
	height: 200px;
	width: 250px;
	flex-shrink: 10;
}
#player .expand.volume[data-expand=expand] > .expandable {
	width: 125px;
	right: 75px;
	bottom: 250px;
	top:initial;
	height: 150px;
	padding: 25px;
	padding-right: 20px;
}

#player .expand[data-expand=expand] > .expandable {
	display: flex;
	z-index: 1000;
	position: relative;
}

#player .infoButtons {
	width: auto !important;
	height: auto !important;
	flex-grow: 100;
	background:initial !important;
	flex-shrink: 10;
	flex-basis: 40%;
	display: flex;
	position: relative;
}
#player .infoButtons[data-expand=expand] > .expandable {
	top:initial;
	right:0;
	bottom:50px;
	display: flex;
}
#player .expand[data-expand=expand] #info > * {
	opacity:1.0;
}
#player .expand #info > * {
	opacity: 0.75;
}
#player .expand #info {
	flex-direction:row;
	background: var(--info_background) !important;
	color: var(--info_text) !important;
	display: flex;
	overflow: hidden;
	flex-wrap: nowrap;
	width: 100%;
	border: 1px solid rgba(0,0,0,0.2);
}
#player .infoButtons .infoText {
	flex-wrap:nowrap;
	font-family: monospace;
	flex-grow: 1e4;
	flex-shrink: 100;
	margin: 0 1ch;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	width: 0;
}
#player .infoButtons > .label {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#player .infoButtons > .label {
	z-index: 1000;
	order: 100;
	width: 100%;
	background:initial;
}
#player .infoButtons > .label > * {
	display:none;
}
#player #info {
	margin: 3px 0.5ch !important;
	justify-content: stretch !important;
	height: 42px;
}

#player #progress {
	display: flex;
	justify-content: space-around;
	overflow:hidden;
	padding: 0 5%;
	color: white;
	flex-direction: column;
	flex-shrink: 1;
	flex-grow: 100;
	width: 300px !important;
	position: relative;
	display: block;
	max-width: 90%;
	background-image: initial !important;
}
#progress > * {
	z-index: 100;
}
.volumeBar .bar,
#progress .bar {
	height: 100%;
	width: 100%;
	background-color: white;
}
.volumeBar .bar {
	transform-origin: 0 100%;
}
#progress .bar {
	transform-origin: 0 0;
}
.volumeBar .background {
	width: 8px;
	height: 100%;
	margin: auto;
}
#progress .background {
	height: 8px;
	width: 100%;
	margin: 17px 0;
}
#player .time,
#player .status {
	display: block;
}
#player .status {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 14px;
	font-size: 12px;
	width: 100%;
	height: 28px;
	text-align: justify;
}
#player .time,
#progress .time {
	align-self: flex-end;
	text-align: right;
	wrap: nowrap;
}
#player .time {
	font-size:11px;
	line-height: 12px;
}
#progress .time {
	position: relative;
	font-size: 10px;
	line-height: 17px;
	top: -17px;
	padding: 0 0.5ch;
	z-index: -10;
}
#nowPlaying {
	text-overflow: ellipsis;
	white-space: nowrap;
}

#player .nowPlayingThumbnail {
	height: 100% !important;
	width: auto !important;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background:initial !important;
	flex-shrink: 0;
	flex-grow: 0;
}

#player .nowPlayingThumbnail > img {
	max-width:100%;
	max-height:100%;
	width: auto !important;
	height: auto !important;
}


#player .buttons .info,
#player .buttons .back,
#player .buttons .up,
#player .buttons .down,
#player .buttons .left,
#player .buttons .right,
#player .buttons .select,
#player .buttons .enter,
#player .buttons .previousmenu,
#player .buttons .contextmenu {
	position:absolute;
	margin-left:-25px;margin-right:-25px;
	text-align:center;
}

#player .buttons .info         { top:25px; left: 50px; }
#player .buttons .back         { top:25px;	right: 50px; }
#player .buttons .previousmenu { top:125px; left: 50px; }
#player .buttons .contextmenu  { top:125px; right: 50px; }

#player .buttons .enter,
#player .buttons .select    { top:75px; left: 50%;  }

#player .buttons .left      { top:75px; left: 50%; margin-left:-75px;  }
#player .buttons .right     { top:75px; right:50%; margin-right:-75px; }
#player .buttons .up        { top:25px;	left: 50%;  }
#player .buttons .down      { top:125px;	left: 50%;  }
