/* NOTE:
	css gradients, shadows and rounded corners should be avoided as they slow down rendering */


/* OTHER */
li {
	list-style-type:none;
}
a, [data-role=button] {
	cursor:pointer;
}
.details .play, .details .add {
	border-radius:9px;
}
a img,:link img,:visited img {
	border:none
}
.fanart img {
	opacity:0.3;
}



/* COLOUR */
body {
	background-color:#000;
}
body,
#header a {
	color:#DDD;
}
a,
#header a:hover,
[data-role=button] {
	color:#58B9DA;
}
a:hover,
[data-role=button]:hover {
	color:#E79A38;
}
a:active,
#header a:active,
[data-role=button]:active {
	color:#E79A38;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
	color:inherit;
}
.details .play, .details .add {
	background:rgba(0,0,0,0.6);
}
.listItem {
	border-top-color:#222;
	border-bottom-color:#222;
}
.recentlyaddeditem {
	background:#222;
	border-color:#333;
}
.bannerItem .banner {
	background:transparent;
}
#header li.selected {
	border-bottom-color: #59B4D4;
}
#loading {
	background-color:rgba(0,0,0,0.8);
}
#player, #header {
	background:#222;
}
.recentlyaddeditem .label {
	color:#BBB;
}
#loading span {
	color:#999;
}



/* TYPOGRAPHY */
body {
	font-family:sans-serif;
}
h1, h2, h3, h4, h5 {
	font-weight:normal;
}
h1 {
	font-size:22px;
	font-weight:bold;
}
a {
	outline:none;
	text-decoration:none;
}
h2 {
	font-size:18px;
}
h3 {
	font-weight:bold;
	font-size:14px;
}
.details .play, .details .add {
	font-size:22px;
}
.listItem {
	font-size:15px;
}
.listItem .label,
.listItem .line1,
.listItem .line2 {
	word-break:break-all;
	word-wrap:break-word;
	font-weight:bold;
}
.listItem .line2 {
	font-size:12px;
	font-weight:normal;
}
.listItem .play,
.listItem .add,
.listItem .remove {
	font-size:30px;
	text-align:center;
}
.listItem .number {
	font-weight:bold;
}
.recentlyaddeditem .label {
	font-size:12px;
}
.bannerItem .bannerLabel {
	font-size:22px;
	font-weight:bold;
}
#header li {
	font-size:15px;
	font-weight:bold;
	text-align:center;
}
#loading span {
	font-size:24px;
	text-align:center;
}



/* THE OTHER DIMENSION */
#header {
	z-index:50;
}
#loading {
	z-index:40;
}
.bannerItem .banner {
	z-index:30;
}
.details > *, .list > * {
	z-index:20;
}
.fanart {
	z-index:10;
}



/* LAYOUT */
body {
	overflow:auto;
	overflow-x:hidden;
}
body, li, ul {
	margin:0;padding:0;
}
h1, h2, h3, h4, h5 {
	margin:0;padding:0;
	overflow:hidden;
}
#content {
	margin-top:40px;
	margin-bottom:60px;
}
body[data-status=paused] #content,
body[data-status=playing] #content {
	margin-bottom:76px;
}
h1 {
	margin-top:10px;
	margin-left:10px;
}
h2 {
	margin-top:5px;
	margin-bottom:10px;
	margin-left:10px;
}
h3 {
	display:inline-block;
	height:30px;
	line-height:30px;
	margin-top:14px;
	margin-left:10px;
}
h3 + p, h2 + p {
	margin-top:0;
}
p {
	margin-left:20px;
	margin-right:10px;
}
.details .play, .details .add {
	display:inline-block;
	margin-right:30px;
	margin-top:16px;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:3px;
}
.listItem {
	height:50px;
	overflow:hidden;
	position:relative;
	border-top-width:1px;
	border-top-style:solid;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.listItem + .listItem {
	border-top:none;
}
.listItem .label,
.listItem .line1,
.listItem .line2 {
	padding-left:10px;
	overflow:hidden;
}
.listItem .label {
	line-height:50px;
	height:50px;
}
.listItem .line1 {
	margin-top:8px;
	height:18px;
}
.listItem .line2 {
	height:15px;
}
.listItem .line2 span + span {
	margin-left:10px;
}
.listItem .play,
.listItem .add,
.listItem .remove {
	width:50px;height:50px;
	line-height:50px;
	float:right;
	display:block;
}
.listItem .play {
	right:0;
	line-height:46px;
}
.listItem .add, .listItem .remove {
	right:50px;
}
.listItem .thumbnail {
	height:100%;
	vertical-align:middle;
	float:left;
}
@media all and (max-width : 380px) {
	.listItem .thumbnail {
		display:none !important;
	}
}
.listItem .number {
	height:42px;
	padding-left:10px;
	min-width:22px;
	float:left;
	text-align:right;
	margin-top:8px;
	margin-right:-4px;
}
.recentlyadded {
	width:100%;
	margin-bottom:10px;
}
.recentlyaddeditem {
	border-style:solid;
	border-width:1px;
	width:143px;
	display:inline-block;
	position:relative;
	vertical-align:top;
	padding:2px;
	margin:1px;
}
.recentlyaddeditem .label {
	height:18px;
	overflow:hidden;
	display:block;
}
.recentlyaddeditem .thumbnail a {
	display:block;
}
.recentlyaddeditem .thumbnail img {
	width:100%;
}
.bannerItem {
	text-align:center;
	position:relative;
	overflow:hidden;
	width:100%;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
}
.bannerItem img {
	height:auto;
	width:100%;
}
.bannerItem .banner {
	position:absolute;
	left:0;top:0;
}
.bannerItem .bannerLabel {
	position:absolute;
	left:10px;top:50%;
	right:10px;
	margin-top:-15px;
	height:30px;
}
#header {
	position:fixed;
	overflow:hidden;
	height:40px;
	top:0;
	left:0;
	width:100%;
}
#header li {
	float:left;
	line-height:40px;
	width:140px;
}
#header li.selected {
	border-bottom-width: 4px;
	border-bottom-style: solid;
}
#header li.selected {
	height:36px;
}
#header li img {
	width:48px;height:48px;
}
#loading {
	position:fixed;
	top:0;left:0;
	height:100%;width:100%;
}
#loading span {
	position:absolute;
	display:block;
	width:300px;height:30px;
	line-height:30px;
	left:50%;top:50%;
	margin-left:-150px;
	margin-top:-15px;
}
.page {
	margin:auto;
	max-width:758px;
}
.details > *, .list > * {
	position:relative;
}
.fanart {
	position:fixed;
	left:0;top:0;bottom:0;
	width:100%;
	padding-top:40px;
	padding-bottom:60px;
}
/*body[data-status=playing] .fanart,
body[data-status=paused] .fanart {
	padding-bottom:76px;
}*/
.fanart img {
	display:block;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	min-width:100%;
}
.headerThumbnail, .details .image {
	max-width:30%;
	float:right;
	margin-left:10px;
}
.list .banner {
	width:100%;
}
ul {
	clear:both;
}



/* REMOTE BUTTONS */
.remote {
	position:relative;
	width:100%;
	max-width:340px;
	height:340px;
	margin:70px auto;
}
.remote > li {
	position:absolute;
	margin-left:-30px;margin-right:-30px;
	width:60px;height:60px;
	text-align:center;
}
.remote > li:active {
	background:url('../img/buttons/active.png');
}
.remote > li:hover {
	background:url('../img/buttons/hover.png');
	cursor:pointer;
}
.remote .home      { top:0;     left: 30px; }
.remote .back      { top:0;     right:30px; }
.remote .up        { top:0;     left: 50%;  }
.remote .select    { top:70px;  left: 50%;  }
.remote .left      { top:70px;  left: 50%; margin-left:-100px; }
.remote .right     { top:70px;  right:50%; margin-right:-100px; }
.remote .down      { top:140px; left: 50%;  }
.remote .fullscreen{ top:140px; left: 30px;  }
.remote .menu      { top:140px; right:30px;  }
.remote .stop      { top:280px; left: 50%;  }
.remote .previous  { top:280px; left: 50%; margin-left:-100px; }
.remote .next      { top:280px; right:50%; margin-right:-100px; }
.remote .eject     { top:210px; left: 30px;  }
.remote .info      { top:210px; right: 30px;  }

