/* Font style */

	body
	{ font-family:sans-serif; }

	h1, h2, h3, h4, h5,
	.listItem,
	.icon-list .line1
	{ font-weight: bold; }

	h2
	{
		font-weight: normal;
		font-style: italic;
	}

	.listItem.leaf
	{ font-weight: normal; }

	a, a:hover, a:visited
	{
		outline:none;
		text-decoration:none;
	}

	.group.selected
	{ font-weight: bold; }


/* Font size */
	
	body
	{ font-size: 13px; }

	h1
	{ font-size: 118%; }
	
	h2
	{ font-size: 115%; }
	
	h3
	{ font-size: 111%; }
	
	h4
	{ font-size: 105%; }
	
	.listItem,
	h5,
	.icon-list .line1
	{ font-size: 100%; }

	.listItem.leaf
	{ font-size: 100%; }

	.line2
	{ font-size:  89%; }


/* White space */
	h3, h4, h5,
	.listItem > .label,
	.titles,
	.options,
	.details,
	.icon-list
	article > .items
	{
		margin-top: 1.2em;
		margin-bottom: 0.4em;
	}

	.details,
	h1.banner
	{ margin-top: 0; }

	h2
	{ margin-top: 0.4em; }

	.listItem.leaf > .label
	{
		margin-top: 0;
	}

	.icon-list .line1 {
		margin-top: 0.4em;
		margin-bottom: 0.3em;
	}
	.icon-list .line2 > * {
		margin-top: 0.2em;
	}