body {
	font-family:"droid serif", "cambria", serif;
	font-size:15px;
	background:#FFF;
	color:#222;
}
ol, ul {
	margin-bottom:1em;
	margin-top:0;
}
li {
	list-style-type:none;
}
#output > ul > li > ul > li > .title {
	font-weight:bold;
}
body > div > ul > li > .title {
	font-size:130%;
}
#header > ul > li > .title {
	margin-top:1em;
	font-size:160%;
	font-weight:bold;
}
li[data-title="description"] .title {
	display:none;
}
li[data-title="description"] {
	font-style:italic;
}
#header li div {
	display:inline-block;
	margin-left:0.2em;
}
#menu {
	width: 300px;
	float:left;
}
#menu .item {
	cursor:pointer;
}
#output {
	margin-left:350px;
}
[data-title="syntax"] [data-type],
[data-title="result"] [data-type] {
	font-family:"droid sans mono", "consolas", monospace;
	white-space:pre;
}
#output [data-type] {
	margin-left:2em;
}
#output .title {
	margin-top:1em;
}
.collapsible > ul {
	display:none;
}
.collapsible.expanded > ul {
	display:block;
}
.collapsible > .title:before {
	font-family:"droid sans mono", "consolas", monospace;
	content: "+ ";
}
.collapsible.expanded > .title:before {
	font-family:"droid sans mono", "consolas", monospace;
	content: "- ";
}
.selected {
	font-weight:bold;
}
