<?xml version="1.0" encoding="UTF-8" ?>
<!-- Phonegap build configuration -->
<widget
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="nz.geek.bailey.xbmc-simple-remote"
	versionCode="01"
	version="0.1.0">
	<preference name="phonegap-version" value="1.7.0" />
	<preference name="ios-statusbarstyle" value="black-opaque" />


	<name>XBMC Simple Remote</name>

	<description>An XBMC web interface that's designed to be simple, fast and easy to use.</description>

	<author
	    	href="http://bailey.geek.nz/"
	    	email="sam@bailey.geek.nz">
		Samuel Bailey
	</author>
	
	
	<!-- API Features -->
	<preference name="permissions" value="none"/>
	<!-- to enable individual permissions use the following examples -->
	<!-- <feature name="http://api.phonegap.com/1.0/battery"/> -->
	<!-- <feature name="http://api.phonegap.com/1.0/camera"/> -->
	<!-- <feature name="http://api.phonegap.com/1.0/contacts"/> -->
	<!-- <feature name="http://api.phonegap.com/1.0/file"/> -->
	<!-- <feature name="http://api.phonegap.com/1.0/geolocation"/> -->
	<!-- <feature name="http://api.phonegap.com/1.0/media"/> -->
	<!-- <feature name="http://api.phonegap.com/1.0/network"/> -->
	<!-- <feature name="http://api.phonegap.com/1.0/notification"/> -->


	<!-- Icons -->
	<icon src="img/phonegap/icon.png"/>
	<!-- <icon src="img/phonegap/icon-ios.png" width="57" height="57"/> -->
	<!-- <icon src="img/phonegap/icon-ios-72.png" gap:platform="ios" width="72" height="72"/> -->
	<!-- <icon src="img/phonegap/icon-ios-2x.png" width="114" height="114"/> -->
	<!-- <icon src="img/phonegap/icon-android-ldpi.png" gap:platform="android" gap:density="ldpi"/> -->
	<!-- <icon src="img/phonegap/icon-android-mdpi.png" gap:platform="android" gap:density="mdpi"/> -->
	<!-- <icon src="img/phonegap/icon-android-hdpi.png" gap:platform="android" gap:density="hdpi"/> -->
	<!-- <icon src="img/phonegap/icon-bb.png" gap:platform="blackberry"/> -->
	<!-- <icon src="img/phonegap/icon-bb-hover.png" gap:platform="blackberry" gap:state="hover"/> -->
	<!-- <icon src="img/phonegap/icon-winphone.png" gap:platform="winphone"/> -->
	<!-- <icon src="img/phonegap/icon-winphone-background.png" gap:platform="winphone" gap:role="background"/> -->
	<!-- <icon src="img/phonegap/icon-webos.png" gap:platform="webos"/> -->
	<!-- <icon src="img/phonegap/icon-webos-mini.png" gap:platform="webos" gap:role="mini"/> -->
	
	
	<!-- Splash Screens -->
	<!-- <gap:splash src="img/phonegap/splash.png"/> -->
	<!-- <gap:splash src="img/phonegap/splash-ios.png" width="320" height="480"/> -->
	<!-- <gap:splash src="img/phonegap/splash-ios-2x.png" width="640" height="960"/> -->
	<!-- <gap:splash src="img/phonegap/splash-ios-landscape.png" width="1024" height="768"/> -->
	<!-- <gap:splash src="img/phonegap/splash-ios-portrait.png" width="768" height="1024"/> -->
	<!-- <gap:splash src="img/phonegap/splash-android/ldpi.png" gap:platform="android" gap:density="ldpi"/> -->
	<!-- <gap:splash src="img/phonegap/splash-android/mdpi.png" gap:platform="android" gap:density="mdpi"/> -->
	<!-- <gap:splash src="img/phonegap/splash-android/hdpi.png" gap:platform="android" gap:density="hdpi"/> -->
	<!-- <gap:splash src="img/phonegap/splash-bb.png" gap:platform="blackberry"/> -->
	<!-- <gap:splash src="img/phonegap/splash-winphone.jpg" gap:platform="winphone"/> -->

</widget>
