<header>

	<div class="crumbs">
		{{#crumbs}}
			<a href="{{link}}" class="crumb">
				{{#icon}}<img src="{{.}}">{{/icon}}
				{{#label}}<span class="label">{{.}}</span>{{/label}}
			</a>
		{{/crumbs}}
	</div>

	<a href="javascript:history.go(-1)" class="backButton"><img src="img/buttons/icon_back.png"></a>

</header>

<article>

	{{#banner}}
		<h1 class="banner"><img src="{{.}}" alt="{{title}}" title="{{title}}"></h1>
	{{/banner}}

	{{#thumbnail}}
		<div class="thumbnail">
			<img src="{{.}}">
		</div>
	{{/thumbnail}}



	
	{{#if title}}<div class="titlebar">{{/if}}

		{{#if title}}<div class="titles">{{/if}}
		
			{{#title}}
				<h1>{{.}}</h1>
			{{/title}}

			{{#subtitle}}
				<h2>{{.}}</h2>
			{{/subtitle}}

		{{#if title}}</div>{{/if}}

		{{#if actions}}
			<ul class="actions">
				{{#actions}}
					<li class="action">
						{{>listItem}}
					</li>
				{{/actions}}
			</ul>
		{{/if}}

	{{#if title}}</div>{{/if}}

	{{#if details}}
		<ul class="details">
			{{#details}}
				{{#if value}}
					<li>
						<h5>{{name}}</h5>
						<p>

							{{#link}}<a href="{{.}}">{{/link}}

								{{#thumbnail}}<span class="thumbnail"><img src="{{.}}"></span>{{/thumbnail}}
								{{#value}}<span>{{.}}</span>{{/value}}

							{{#link}}</a>{{/link}}

						</p>
					</li>
				{{/if}}
			{{/details}}
		</ul>
	{{/if}}

	{{#if options}}
		<ul class="options">
			{{#options}}
				<li class="option {{id}}">
					<h5>{{label}}</h5>
					<ul>
						{{#items}}
							<li class="{{class}}">
								{{>listItem}}
							</li>
						{{/items}}
					</ul>
				</li>
			{{/options}}
		</ul>
	{{/if}}

	{{#if groups}}
		<ul class="groups">
			{{#groups}}
				<li class="group {{#if selected}}selected{{/if}}">
					{{>listItem}}
				</li>
			{{/groups}}
		</ul>
	{{/if}}

	{{#if timeline}}
		<div class="timeline">
			{{#timeline}}
				<span class="{{class}}" style="{{style}}">{{label}}</span>
			{{/timeline}}
		</div>
	{{/if}}

	{{>listItems}}

	{{#fanart}}
		<img class="fanart" src="{{.}}" />
	{{/fanart}}

</article>