{{#link}}<a href="{{.}}">{{/link}}


	{{#if number}}
		<div class="number">
			{{number}}
		</div>
	{{/if}}

	{{#if thumbnail}}
		<div class="thumbnail">
			<img src="{{thumbnail}}" alt="">
			{{#if progress}}
				<div class="progress">
					<div class="bar" style="width:{{progress}};"></div>
				</div>
			{{/if}}
		</div>
	{{/if}}

	<div class="label">

		{{#if search}}
			<input type="search" placeholder="{{label}}" class="search" data-link="{{link}}" formaction="{{page}}">

		{{else}}
			{{#if details}}

				<span class="line1">
					{{label}}
				</span>

				<span class="line2">
					{{#details}}<span>{{.}}</span>{{/details}}
				</span>

			{{else}}
				<span>
					{{label}}
				</span>
			{{/if}}
		{{/if}}

		{{#more}}
			<span class="more"><a href="{{.}}"></a></span>
		{{/more}}

	</div>

{{#link}}</a>{{/link}}


{{#if actions}}

	<span class="listActions">

		{{#actions}}
			<a href="{{link}}" class="listAction">

				{{#if thumbnail}}
					<div class="thumbnail"><img src="{{thumbnail}}"></div>
				{{/if}}

				{{#if label}}
					<div class="label">{{label}}</div>
				{{/if}}

			</a>
		{{/actions}}

	</span>

{{/if}}


{{>details detailList}}