

{{#if thumbnail}}

	{{#link}}<a href="{{.}}" class="thumbnail">{{/link}}
	{{^link}}<span class="thumbnail">{{/link}}

			<span><img src="{{thumbnail}}"></span>

	{{^link}}</span>{{/link}}
	{{#link}}</a>{{/link}}

{{/if}}



{{#link}}<a href="{{.}}" class="label">{{/link}}
{{^link}}<span class="label">{{/link}}

	{{#if details}}

		<span class="line1">{{label}}</span>

		<span class="line2">
			{{#details}}<span>{{.}}</span>{{/details}}
		</span>

	{{else}}
		{{label}}
	{{/if}}

{{^link}}</span>{{/link}}
{{#link}}</a>{{/link}}



{{#if actions}}

	<span class="listActions">

		{{#actions}}
			<a href="{{link}}" class="listAction">

				{{#if thumbnail}}
					<span class="thumbnail"><img src="{{thumbnail}}"></span>
				{{else}}
					{{label}}
				{{/if}}

			</a>
		{{/actions}}

	</span>

{{/if}}

