

<!--<div class="thumbnailWrapper">
	<img class="thumbnail">
</div>-->

<div class="player">

	<ul class="player buttons">
		{{#buttons}}

			<li class="{{class}}">
				<a href="{{link}}">
					<span>{{label}}</span>
				</a>
			</li>

		{{/buttons}}
	</ul>

	<div id="progress">
		<div class="status"></div>
		<div class="background"><div class="bar"></div></div>
		<div class="time"></div>
	</div>

</div>

<ul class="nav buttons">
	{{#navbuttons}}

		<li class="{{class}}">
			<a href="{{link}}">
				<span>{{label}}</span>
			</a>
		</li>

	{{/navbuttons}}
</ul>

<ul class="right buttons">
	{{#rightbuttons}}

		<li class="{{class}}">
			<a href="{{link}}">
				<span>{{label}}</span>
			</a>
		</li>

	{{/rightbuttons}}

	<li class="show"><div>&nbsp;</div></li>
</ul>
