

<!--<div class="thumbnailWrapper">
	<img class="thumbnail">
</div>-->

<div class="player">

	<ul class="player buttons">
		{{#buttons}}

		<li class="{{class}}">

			{{#if link}}
			<a href="{{link}}" class="label">
				<span>{{label}}</span>
			</a>
			{{else}}
			<div class="label">
				<span>{{label}}</span>
			</div>
			{{/if}}

			{{#if buttons}}
			<div class="expandable">
				<div class="close"></div>
				<ul class="buttons">
					{{#buttons}}
					<li class="{{class}}" id="{{id}}">
						{{#if link}}<a href="{{link}}" class="label">
							<span>{{label}}</span>
						</a>
						{{else}}<div class="label">
							<span>{{label}}</span>
						</div>{{/if}}
					</li>
					{{/buttons}}
				</ul>
			</div>
			{{/if}}

		</li>

		{{/buttons}}
	</ul>

</div>

